<html>
<head>
</head>
<body>
  Hi <%= name %>,
  <br />
  <br />
  Here is the link to Reset your password
  <br />
  <br />
  <a href="<%= resetPasswordURL %>" >Click Here to Reset Your Password</a>
  <br />
  <br />
  Regards : &nbsp;  <b>Zeeshan Mehdi</b>
</body>
</html>